# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# expo

# production
dist
.solid
.output
.vercel
.netlify
.vinxi
app.config.timestamp_*.js

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local
!packages/db/.env

# Cache
.cache
.turbo

uploads

.zed
