@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 95%;
    --foreground: 240 10% 3.9%;
    --card: 240 10% 95%;
    --card-foreground: 240 10% 3.9%;
    --popover: 240 10% 95%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 210 50% 60%;
    --primary-foreground: 210 50% 10%;
    --secondary: 240 10% 80%;
    --secondary-foreground: 240 10% 30%;
    --muted: 240 10% 90%;
    --muted-foreground: 240 10% 40%;
    --accent: 240 10% 80%;
    --accent-foreground: 240 10% 30%;
    --destructive: 240 10% 10%;
    --destructive-foreground: 240 90% 90%;
    --border: 240 10% 80%;
    --input: 240 10% 80%;
    --ring: 240 10% 60%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 240 90% 95%;
    --card: 240 10% 3.9%;
    --card-foreground: 240 90% 95%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 240 90% 95%;
    --primary: 210 50% 60%;
    --primary-foreground: 210 50% 10%;
    --secondary: 240 10% 20%;
    --secondary-foreground: 240 90% 95%;
    --muted: 240 10% 20%;
    --muted-foreground: 240 10% 60%;
    --accent: 240 10% 20%;
    --accent-foreground: 240 90% 95%;
    --destructive: 240 10% 10%;
    --destructive-foreground: 240 90% 90%;
    --border: 240 10% 20%;
    --input: 240 10% 20%;
    --ring: 240 10% 40%;
  }

  html,
  body {
    height: 100%;
  }
}
